/* App.css */

.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure relative positioning for children to be positioned properly */
}

body{
  margin: 0;
}

.theme-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.theme-switcher:hover {
  background-color: rgba(255, 255, 255, 1);
}

.theme-icon {
  width: 24px;
  height: 24px;
  /* Additional styling for icon like margin or color */
}


.content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-display {
  background-color: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  position: relative;
}

.page-display p {
  margin: 0 0 10px;
  line-height: 1.5;
}

.page-display.editable p:hover {
  background-color: #f0f0f0;
  cursor: text;
}

.page-display.editable p:focus {
  outline: none;
  background-color: #e0e0e0;
}
